*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
@font-face {
  font-family: 'MontserratMedıum';
  src: url('./assets/fonts/MONTSERRAT-MEDIUM.OTF');
}
@font-face {
  font-family: 'ZapfhumanstBT';
  src: url('./assets/fonts/ZapfhumanstBT.TTF');
}
body{
  font-family: MontserratMedıum, sans-serif;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
  
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 85px;
  
}
.nav{
  align-items: center;
  display: flex;
  gap: 25px;
}
.nav i{
  cursor: pointer;
}
.products{
  padding: 0 85px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.productImage{
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.productImage:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.productName{
  font-family: MontserratMedıum, sans serif;
  font-size: 15pt;
  margin: 10px 0;
}
.productPrice{
  font-family: MontserratMedıum, sans serif;
  font-size: 17pt;
}
.footer{
  padding: 100px;
  text-align: center;
}
.whoweare{
  font-family: ZapfhumanstBT, sans-serif;
  font-size: 20pt;
  font-weight: 100;
  margin-bottom: 15px;
}
.foot{
  font-family: MontserratMedıum, sans serif;
  font-size: 17pt;
  font-weight:100;
}
input{
  font-size: 14px;
  color: #333;
  background-color: #f3f3f3;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 6px;
  padding: 10px 40px 10px 15px
}
input:focus{
  background-color: #fff;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1),0 3px 10px 0 rgba(0,0,0,.1);
  outline: none;
}
@media (max-width: 719px) {
  .products{
    justify-content: center;
  }
}